.acontent {
  color: #1d1d1d;
}
.aheader {
  text-align: center;
}
.aheader h4 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 15px;
}
.aheader h2 {
  color: #ac926c;
  font-family: "Trajan", serif;
  font-size: 45px;
  font-weight: 400;
}

.aimg {
  height: 500px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 50px auto 30px;
}
.aheader .atext {
  color: #3f3f3f;
  line-height: 1.9;
}
.roomhr {
  opacity: 0.5;
  /* margin: 0px 15px; */
}
.roomlink {
  margin: 25px auto 10px;
}
.roomlink a {
  font-family: "Trajan", serif;
  font-size: 23px;
  color: #1d1d1d;
  transition: all 0.4s;
  text-decoration: none;
}
.roomlink a:hover {
  color: #ac926c;
}
.roomProperty {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0px;
  font-size: 12px;
  color: #3f3f3f;
}
.roomProperty img {
  margin-right: 5px;
}

.roomProperty .property {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 6px;
}
.roomPropertySub {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin: 15px 0px;
  font-size: 13px;
  font-weight: 400;
  color: #1d1d1d;
}
.propertySub {
  width: 50%;
  margin-bottom: 8px;
}
.roomButton {
  background-color: #fff;
  padding: 10px 28px;
  outline: none;
  border: 1px solid #ac926c;
  color: #ac926c;
  font-family: "Trajan", serif;
  font-weight: 500;
  font-size: 20px;
  width: 100%;
  cursor: pointer;
  transition: all 0.7s;
  position: absolute;
  bottom: 0;
  left: 0;
}
.roomButton:hover {
  background-color: #ac926c22;
}
.roomName {
  position: absolute;
  bottom: 0;
  z-index: 18;
  color: #fff;
  font-size: 45px;
  font-family: "Trajan", serif;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
}
.roomdetail {
  max-width: 1200px;
  margin: 80px auto;
}
.detailcontent {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.sub-body {
  flex: 50%;
  margin: 20px;
}
.detailcontent:nth-child(even) .sub-body:nth-child(1) {
  order: 2;
}

.detailrigt img {
  width: 100%;
  padding: 10px;
  transform: translate(-30px, 30px);
  -webkit-transform: translate(-30px, 30px);
  -moz-transform: translate(-30px, 30px);
  box-sizing: border-box;
  margin-left: 5px;
}
.detailcontent:nth-child(even) .detailrigt img {
  transform: translate(30px, 30px);
  -webkit-transform: translate(30px, 30px);
  -moz-transform: translate(30px, 30px);
}
.detailrigt {
  box-sizing: border-box;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 12px #e4e3e3;
}
.detailleft h4 {
  font-size: 32px;
  color: #000;
}

.detailleft h2 {
  font-size: 40px;
  color: #ac926c;
  font-family: "Trajan", serif;
}
.detailleft {
  color: #1d1d1d;
  line-height: 1.6;
}

.wifi {
  background-color: #ac926c;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 0px;
  color: #fff;
}
.wifi span {
  padding-left: 12px;
}
.multiple-gallery {
  margin: 60px 0px;
}
.lightgallery h2 {
  font-family: "Trajan", serif;
  color: #ac926c;
  text-align: center;
}
.detailcontent h6 {
  font-family: "Trajan", serif;
  color: #ac926c;
  font-size: 22px;
  margin: 10px 0px;
}
.PropertySub2 {
  font-size: 14px;
}
.horizontalcontainer {
  max-width: 1100px;
  margin: 40px auto;
}
.horizontalcontent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  box-sizing: border-box;
  margin-bottom: 40px;
}
.horizontalimg img {
  width: 100%;
  height: 98%;
  object-fit: cover;
}
.horizontalimg {
  position: relative;
  flex: 30%;
  margin-bottom: -4px;
}
.horizontalimg span {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 12px;
  background-color: #ac926c;
  color: #fff;
  border-radius: 20px;
}
.horizontalimg pan {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 12px;
  background-color: #4f5050;
  color: #fff;
  border-radius: 20px;
}
.horizontalbody {
  background-color: #f4f4f4;
  padding: 12px 22px;
  flex: 70%;
}
.horizontalbody h4 {
  font-family: "Trajan", serif;
  color: #ac926c;
  font-size: 20px;
  margin: 8px 0px;
}
.horizontalbody p {
  color: #3f3f3f;
  line-height: 1.8;
  padding-bottom: 16px;
}
.horizontalbody a {
  text-decoration: none;
  color: #ac926c;
  border: 1px solid #ac926c;
  padding: 6px 12px;
  border-radius: 3px;
}
.horizontalbody a:hover {
  background-color: #ac926c;
  color: #fff;
  padding: 6px 12px;
  border-radius: 3px;
}
.colum {
  max-width: 1250px;
  margin: 30px auto;
  box-sizing: border-box;
}
.columcontent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  box-sizing: border-box;
}
.columbody {
  width: 380px;
  margin: 20px 10px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  padding-bottom: 51px;
}
.columbody img {
  width: 100%;
  transition: all 0.4s;
}
.columbody:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}
.columbody h2 {
  color: #3f3f3f;
  font-size: 22px;
  font-family: "Trajan", serif;
  margin: 12px 0px;
}
.columbody p {
  color: #555454;
  font-size: 15px;
  line-height: 1.7;
  text-align: justify;
}
.columbody button {
  width: 100%;
  padding: 8px 13px;
  margin: 12px auto;
  background-color: #ac926c;
  border: none;
  outline: none;
  color: #fff;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  bottom: 0;
}
.colum h3 {
  font-size: 24px;
  margin-left: 12px;
  text-transform: uppercase;
  font-weight: 400;
}
.contactcontainer {
  max-width: 1250px;
  margin: 40px auto;
}
.contactbody {
  display: flex;
  justify-content: space-between;
  box-sizing: content-box;
}
.contactbody div {
  padding: 12px;
}
.contactinfo {
  width: 600px;
}
.contactmap {
  width: 100%;
}
.contactbody h6 {
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  padding: 16px 0px;
  font-weight: 500;
  border-bottom: 1px solid #ac926c;
}
.contactbody ul {
  font-size: 15px;
  margin-top: 20px;
}
.contactbody ul li {
  list-style: none;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}
.contactbody ul li span {
  display: inline-block;
  padding-left: 15px;
}
.contactbody ul li a {
  text-decoration: none;
  color: #ac926c;
}
.bgform {
  background-color: #f4f4f4;
  padding: 40px 0px 70px;
}
.frm {
  max-width: 1200px;
  margin: 20px auto;
}
.contact-form-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2px 0px 2px 20px;
  box-sizing: border-box;
}
.form-group {
  flex: 360px;
  margin: 20px auto;
}
.form-group label {
  display: block;
  margin-bottom: 16px;
  font-family: "Trajan", serif;
  color: #ac926c;
  font-size: 18px;
}
.form-group button {
  width: 80%;
  outline: none;
  border: none;
  font-family: "Trajan", serif;
  background-color: #ac926c;
  font-size: 18px;
  color: #fff;
  padding: 8px 2px;
  cursor: pointer;
}
.form-group input {
  background-color: #f4f4f4;
  width: 80%;
  outline: none;
  border: none;
  border-bottom: 1px solid #ac926c;
  font-size: 15px;
}
.form-group textarea {
  background-color: #f4f4f4;
  width: 80%;
  outline: none;
  border: none;
  border: 1px solid #ac926c;
  font-size: 15px;
}
.columtwo {
  display: flex;
  justify-content: start;
  align-items: stretch;
}
.colums {
  flex: 50%;
  text-align: justify;
}

@media screen and (max-width: 990px) {
  .detailcontent {
    flex-wrap: wrap;
  }
  .contactinfo {
    width: 100%;
  }
  .contactmap {
    width: 100%;
  }
  .detailcontent:nth-child(even) .sub-body:nth-child(1) {
    order: 0;
  }
  .contactbody {
    flex-direction: column;
  }
}

@media screen and (max-width: 780px) {
  .aheader h4 {
    font-size: 26px;
  }
  .aheader h2 {
    font-size: 30px;
  }
  .aheader .atext {
    text-align: justify;
  }
  .roomName {
    font-size: 25px;
    left: 20%;
    transform: translateX(-20%);
    -webkit-transform: translateX(-20%);
    -moz-transform: translateX(-20%);
  }
  .horizontalcontent {
    flex-direction: column;
  }
  .detailrigt img {
    width: 95%;
  }
  .columtwo {
    flex-direction: column;
  }
}
